<div class="modal" id="Modal-SellingConfirm-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>You really want to delete this item.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <form method="post">
          <input id="delete_item" name="delete_item" type="hidden" value="{{ item.id }}">
          <input type="submit" class="btn btn-danger" name="action" value="Delete">
        </form>
      </div>
    </div>
  </div>
</div>