{% extends 'base.html' %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
<div class="container">
    <div class="search-container">
        <form method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search for anything"
                    aria-label="Recipient's username" aria-describedby="button-addon2" name="searched">
                <button class="btn btn-outline-primary btn-lg" type="submit" id="button-addon2">Search</button>
            </div>
        </form>
    </div>
    <div class="row text-center justify-content-md-center">
        <div class="col">
            <div class="items-block">
                <div class="row row-cols-3 ">
                    {% if search_items %}
                        {% for item in search_items %}
                            {% include 'includes/card.html' %}
                        {% endfor %}
                    {% else %}
                        {% for item in items %}
                            {% include 'includes/card.html' %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}